@model List<Booking>


    @{
        ViewData["Title"] = "All bookings";
    }
        
<div class="text-center">
    <h1 class="display-4">All bookings</h1>
    </div>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create new booking</a>
    </p>
    <div style= "background-color: whitesmoke; border-radius: 1em; padding: 20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Booker:
                    </th>
                    <th>
                        Email:
                    </th>
                    <th>
                        Giraffe:
                    </th>
                    <th>
                        From:
                    </th>
                    <th>
                        To:
                    </th>
                    <th>
                        Total cost:
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {

                    <tr>
                        <td>@booking.Booker</td>
                        <td>@booking.BookerEmail</td>
                        <td>@booking.GiraffeName</td>
                        <td>@booking.From.ToShortDateString() @booking.From.ToShortTimeString()</td>
                        <td>@booking.To.ToShortDateString() @booking.To.ToShortTimeString()</td>
                        <td>@booking.TotalCost$</td>
                        <td>

                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@booking.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@booking.Id">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>